.input_container {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    padding-top: 20px;
   
}

.field {

    border: none;
    display: flex;
    gap: 10px;
}

.childfield_1 {

    border: 2px solid #08bcf4;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 5px;
    width: 8vw;
}

/* .field input:focus {
    border-color: #08bcf4;
} */

.childselect{
    width: 16vw;
    border: 2px solid #08bcf4;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: bold;
}

.childsearch{
    width:4.5vw;
    text-align: center;
    border: 2px solid #08bcf4;
    background-color: #08bcf4;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;

}


.loading{
    width: 2.5vw;
    border: 2px solid #08bcf4;
    background-color: #08bcf4;
    color: white;
    font-size: 18px;
  
}

.lable{
   font-size: 16px ;
   font-weight: bold;
   margin-right: 10px;

}

.lable+select{
    width: 4vw;
    border: 2px solid #08bcf4;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.search{
    width: 16vw;
    border: 2px solid #08bcf4;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: bold;
}


